.gear__div {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background: none;
    box-shadow: 9.91px 9.91px 15px #d9dade, -9.91px -9.91px 15px #ffffff;
  }
  
  .gear__icon {
    margin: 17px auto ;
    font-size: 36px;
    border-radius: 50px;
    background: none;
    box-shadow: 9.91px 9.91px 15px #d9dade, -9.91px -9.91px 15px #ffffff;
    animation: move 2.5s infinite ease-in-out;
  }



@keyframes move {
  20%, 100% {
    transform: rotate(360deg);
    /* color:  #18a0fb; */
  }
  0% {
    opacity: 1;
  }
 
  100% {
    opacity: 0;
  }
}