button {
  background: #eef0f4;
  box-shadow: 9.91px 9.91px 15px #d9dade, -9.91px -9.91px 15px #ffffff;
}

.start-box {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  background: #eef0f4;
  box-shadow: 9.91px 9.91px 15px #d9dade, -9.91px -9.91px 15px #ffffff;
  cursor: pointer;
}

.start {
  margin: 17px auto;
  font-size: 36px;
  background: linear-gradient(145deg, #CACCCF, #FFFFFF);
  border-radius: 100%;
  box-shadow: 9.91px 9.91px 15px #D9DADE, -9.91px -9.91px 15px #FFFFFF;
  transition: ease 0.3s;
}


.start:hover {
  color: #18a0fb;
  transition: ease 1000ms;
}

.stop-box {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  border: none;
  background: #eef0f4;
  box-shadow: 9.91px 9.91px 15px #d9dade, -9.91px -9.91px 15px #ffffff;
  cursor: pointer;
}

.stop {
  margin: 17px auto;
  font-size: 36px;
  background: #EEF0F4;
  border-radius: 100%;
  box-shadow: inset 9.91px 9.91px 15px #D9DADE, inset -9.91px -9.91px 15px #FFFFFF;
  transition: ease 0.3s;
}

.stop:hover {
  color: #18a0fb;
  transition: ease 1000ms;
}


/* .stop:focus {
  font-family: "Oswald";
  background: #eef0f4;
}

.start:focus {
  font-family: "Oswald";
  background: #eef0f4;
  box-shadow: 9.91px 9.91px 15px #d9dade, -9.91px -9.91px 15px #ffffff;
} */
