.Time {
    width: 284px;
    height: 60px;
    margin-right: 158px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    background: #EEF0F4;
    border-radius: 50px;
    box-shadow: 9.91px 9.91px 15px #D9DADE, -9.91px -9.91px 15px #FFFFFF;
}

.Time__img {
    background: none;
}


p {
    margin-top: -65px;
    margin-left: 50px;
    background: none;
}