.center {
  position: relative;
  width: 26px;
  height: 26px;
  top: 7px;
  left: 35px;
  transform: translate(-50%, -50%);
  background: none;
  cursor: pointer;
}

.center:before,
.center:after,
.center div {
  background: #8b8fa5;
  content: "";
  display: block;
  width: 26px;
  height: 4px;
  margin: 6px 0;
  transition: 0.5s;
}
.center:hover:before {
  transform: translateY(10px) rotate(135deg);
  box-shadow: 9.91px 9.91px 15px #d9dade, -9.91px -9.91px 15px #ffffff;
}
.center:hover:after {
  transform: translateY(-10px) rotate(-135deg);
  box-shadow: 9.91px 9.91px 15px #d9dade, -9.91px -9.91px 15px #ffffff;
}
.center:hover div {
  transform: scale(0);
  box-shadow: 9.91px 9.91px 15px #d9dade, -9.91px -9.91px 15px #ffffff;
}
