.Content {
  margin-top: 60px;
  width: 100%;
  height: 85%;
  border-radius: 50px;
  background: #eef0f4;
  box-shadow: 9.91px 9.91px 15px #d9dade, -9.91px -9.91px 15px #ffffff;
  overflow: hidden;
  border: 12px solid transparent;
}

.lineBtn {
   /* display: none; */
   border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  margin-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.slideshow-slider {
  display: flex;
  transition: 1s ease;
  transition-timing-function: cubic-bezier( 0, 0, 1, 1 );
  background: none;
}

.style-box {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  background: none;
  box-shadow: 9.91px 9.91px 15px #d9dade, -9.91px -9.91px 15px #ffffff;
}

.style-icone {
margin: 17px auto ;
font-size: 36px;
border-radius: 50px;
background: none;
box-shadow: 9.91px 9.91px 15px #d9dade, -9.91px -9.91px 15px #ffffff;
animation: move 60ss infinite ease-in-out;
}

