.Content {
  margin-top: 0px;
  width: 100%;
  height: 85vh;
  border-radius: 50px;
  background: #eef0f4;
  box-shadow: 9.91px 9.91px 15px #d9dade, -9.91px -9.91px 15px #ffffff;
  overflow: hidden;
  border: 12px solid transparent;
}

.slideshow-slider {
  display: flex;
  transition: ease 1000ms;
}
