.TextDay {
  display: flex;
  margin-top: 20px;
  margin-left: 80px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 53px;
  border-radius: 20px;
  background: none;
  
}

li {
  margin-left: 20px;
  width: 320px;
  height: 60px;
  list-style: none;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 53px;
  background: none;
  /* box-shadow: 9.91px 9.91px 15px #d9dade, -9.91px -9.91px 15px #ffffff; */
  /* border-top: 8px solid #8b8fa5; */
}
