.TextDay {
  display: flex;
  margin-top: 20px;
  margin-left: 80px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 53px;
  border-radius: 20px;
  background: none;
}

li {
  margin-left: 20px;
  width: 320px;
  height: 60px;
  list-style: none;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 53px;
  background: none;
  /* border-bottom: 4px solid #18a0fb; */
}
