* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  background: #eef0f4;
  color: #8b8fa5;
}

.App {
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
  box-shadow: 9.91px 9.91px 15px #d9dade, -9.91px -9.91px 15px #ffffff;
  /* border: 12px solid black; */
}
