.DayBlock {
  /* margin-top: 0px; */
  margin-left: 40px;
  /* width: 297px; */
  width: 320px;
  height: 90%;
  border: 2px solid black;
  text-transform: uppercase;
}


table {
  margin-top: 20px;
  font-family: 'Oswald', sans-serif;
  color: #8b8fa5;
  /* border: 2px solid #8b8fa5; */
  text-transform: uppercase;
}

th {
  font-size: 21px;
  /* box-shadow: 9.91px 9.91px 15px #d9dade, -9.91px -9.91px 15px #ffffff; */
  /* border-left: 1px solid #8b8fa5; */
  /* border-right: 1px solid #8b8fa5; */
}

tr {
  
}

td {
  
}

input {
  height: 20px;
  text-transform: uppercase;
}

input:active, input:hover, input:focus {
  outline: 0;
  outline-offset: 0;
  border: 2px solid #18A0FB;
}

.number {
  font-size: 128px;
  width: 30px;
}

.time {
  width: 50px;
}

.subject {
width: 140px;
border-left: 1px solid #8b8fa5;
border-right: 1px solid #8b8fa5;
}

.cabinet {
  width: 40px;
}

.i {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  background: #fff;
  font-size: 21px;
  color: #8b8fa5;
  border: none;
}

.i2 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  background: #EEF0F4;
  font-size: 21px;
  color: #8b8fa5;
  border: none;
}

.i:focus{
  border: 3px solid blue;
  box-shadow: 1px 1px 2px 0 blue;
  }

  .i2:focus{
      border: 3px solid blue;
      box-shadow: 1px 1px 2px 0 blue;
      }




