.DayBlock {
  margin-top: 40px;
  margin-left: 40px;
  /* width: 297px; */
  width: 320px;
  height: 951px;
  /* border: 2px solid black; */
}

table {
  margin-bottom: 20px;
  font-family: "Oswald", sans-serif;
  font-size: 21px;
  color: #8b8fa5;
}

th {
  border-radius: 10px 10px 0 0;
  font-size: 21px;
  text-transform: uppercase;
  height: 40px;
  font-weight: 500;
  background: #8b8fa5;
  color: #fff;
}

tr {
}

td {
}

input {
  width: 74px;
  height: 40px;
}

input:active,
input:hover,
input:focus {
  outline: 0;
  outline-offset: 0;
  border: 2px solid #18a0fb;
}

.number {
  width: 100%;
}

.time {
  width: 100%;
}

.subject {
  width: 100%;
  border-left: 1px solid #8b8fa5;
  border-right: 1px solid #8b8fa5;
}

.cabinet {
  width: 100%;
}

.i {
  text-align: center;
  font-family: "Oswald", sans-serif;
  background: #fff;
  font-size: 21px;
  color: #8b8fa5;
  border: none;
  /* border-left: 1px solid #8b8fa5; */
  /* border-right: 1px solid #8b8fa5; */
}

.i2 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  background: #eef0f4;
  font-size: 21px;
  color: #8b8fa5;
  border: none;
  /* border-left: 1px solid #8b8fa5; */
  /* border-right: 1px solid #8b8fa5; */
}

.i:focus {
  border: 4px solid #18a0fb;
  box-shadow: 1px 1px 2px 0 #18a0fb;
}

.i2:focus {
  border: 4px solid #18a0fb;
  box-shadow: 1px 1px 2px 0 #18a0fb;
}

.add-icon {
  cursor: pointer;
}
