* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  text-align: center;
  background: #eef0f4;
  color: #8b8fa5;
}
 
.App {
  max-width: 1920px;
  height: 120vh;
  margin: 0 auto;
  /* padding-left: 60px;
  padding-right: 60px; */
  box-shadow: 9.91px 9.91px 15px #d9dade, -9.91px -9.91px 15px #ffffff;
}

body {
  overflow-y: scroll;
}


/*
 *  scrollbar
 */
body::-webkit-scrollbar-track
 {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
   background-color: #fff;
 }
 
 body::-webkit-scrollbar
 {  
   width: 10px;
   background-color: #fff;
 }
 
 body::-webkit-scrollbar-thumb
 {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
   background-color: #8b8fa5;
 }
/*
 *  scrollbar
 */