.Bell__img {
    background: #EEF0F4;
    border-radius: 50px;
    box-shadow: 9.91px 9.91px 15px #D9DADE, -9.91px -9.91px 15px #FFFFFF;
}

.Bell {
    background: #EEF0F4;
    border-radius: 50px;
    box-shadow: 9.91px 9.91px 15px #D9DADE, -9.91px -9.91px 15px #FFFFFF;
}